<section class="logo-container">
    <img src="{{{org.avatar}}}" alt="{{{org.name}}}" height="30" />
</section>
<section class="text-container">
    <h2>
        {{{__ "access_denied.subtitle"}}}
    </h2>
    <p>
        {{{__ "access_denied.content"}}}
    </p>
</section>
