html {
  background: url("/assets/visuals/background.png");
  background-size: cover;
}

body {
  background-color: #0f1729;
  height: 100vh;
}

main {
  background-color: #242839;
  color: #eee;
  margin-left: -145px;
  min-height: 250px;
  height: auto;
  width: 300px;
  border: 2px solid rgba(255, 255, 255, .7);
  border-radius: 5px;
}

header {
  display:none;
}

.switcher-container,
.switcher-dropdown {
  background: #272728;
  border-color: rgba(255, 255, 255, 0.24);
}

.switcher-container label {
  color: #fff;
}

.text-container {
  color: rgba(255, 255, 255, 0.7);
  text-align: start;
  margin-bottom: 20px;
}
.text-container h2 {
  color: #fff;
}
.text-container p {
  font-weight: bold;
  color: white;
  font-size: larger;
}
.input-container label {
  color: #fff;
  font-weight: bold;
}
.input-container i {
  color: #000;
  bottom: -8px;
  font-size: 15px;
}
.input-container .shared-session-key-input,
.input-container .email-input {
  height: 46px;
  font-size: 15px;
  padding: 13px 5px 16px 32px;

  background: #fff;
  color: #000;
  border: solid 1px rgba(255, 255, 255, 0.7);
  width: 100%;
  border-radius: 5px;
}

.link-container {
  display: none;
}

.link-container a {
  color: #fff;
}

.input-container .content {
  border: solid 1px rgba(255, 255, 255, 0.24);
  background-color: #272728;
  color: #fff;
}
.markdown code,
.markdown tt,
.markdown pre {
  background-color: transparent;
}

button.primary {
  border-radius: 9999px;
  width: 100%;
  height: 46px;
  background-color: rgba(91,187,228);
  color: #000;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-weight: 500;
}

.provider-switcher-tiles .switcher-item {
  width: 35%;
  border: 1px solid #60add7;
  margin-right: 6%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.provider-switcher-tiles .switcher-item label {
  margin-left: 5px;
  color: #000;
}
.err-container {
  color: #ffc1c1;
}
.err-container:empty {
  display: none;
}
.provider-switcher-container {
  margin-bottom: 10px;
}
.logo-container img {
  display: none;
}
.logo-container {
  background: url("/assets/visuals/Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0px;
  height: 240px;
  max-width: 100%;  
}
button.secondary {
  margin-top: 15px;
  width: 100%;
  border-radius: 9999px;
}

footer {
  display: none;
}