<section class="logo-container">
    <img src="/assets/visuals/sme-mart-logo.svg" alt="SME Mart" height="100" />
</section>
<section class="text-container">
    <h2>
        {{{__ "access_denied.subtitle"}}}
    </h2>
    <p>
        {{{__ "access_denied.content"}}}
    </p>
</section>
